# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net
name: .NET CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: download JSON submodule
        run: git submodule update --init ./src/Helldivers-2-Models/json
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore --no-incremental /p:TreatWarningsAsErrors=true
      - name: Check formatting
        run: dotnet format --no-restore --verify-no-changes --exclude-diagnostics IL2026 IL3050
      - name: Check tests
        run: dotnet test --no-build --verbosity normal

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          retention-days: 5
          name: openapi-schemas
          path: docs/openapi/
